html,
body {
  font-family: "Nova Square", "Monomaniac One", "Noto Sans TC", "ZCOOL XiaoWei",
    sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

/* Header */
header {
  height: 60px;
  color: #666666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  /*outline: 3px solid tomato;*/
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #666666;
}

/* main */
main {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-size: 32px;
  margin: 24px 0 8px;
}

h3 {
  font-size: 21px;
  margin: 0 0 8px;
  font-weight: 500;
}

section {
  margin-bottom: 20px;
}

p {
  color: black;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* 讓左邊（名字+職稱）與右邊（社交媒體）對齊 */
.header {
  display: flex;
  justify-content: space-between;
  /* 讓左右兩邊貼齊 */
  align-items: center;
  /* 讓內容垂直對齊 */
  width: 100%;
  padding: 10px 20px;
}


/*新增效果:觸碰變色*/
.name {
  display: inline;
  /*justify-content: center;*/
  font-size: 32px;
  /* margin: 20px 0; */
  background: linear-gradient(90deg, #ff3c41, #fc0, #0ebeff);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  cursor: pointer;
  transition: 0.4s all;
}

.name:hover {
  background-size: 100% 3px;
  color: blue;
}

.name-title {
  display: inline-flex;
  justify-content: space-between;
  /* 讓左邊和右邊對齊 */
  align-items: center;
  /* 垂直置中 */
  width: 100%;
  padding-bottom: 20px;

  /* text-align: start;
  margin-bottom: 10px; */
}

.img-name {
  display: flex;
  /* justify-content: space-between; */
  /* 讓左邊和右邊對齊 */
  align-items: center;
  /* 垂直置中 */
  width: 100%;
  padding-bottom: 20px;

  /* text-align: start;
  margin-bottom: 10px; */
}

.name {
  margin-left: 20px;
}

.title {
  margin-left: 5px;
  /* 調整名稱與 Title 之間的間距 */
  font-size: 18px;
  color: black;
  /* 可以讓職位顏色稍微淡化 */
  /* margin-bottom: 20px;
  text-align: start;
  color: black;
  font-size: 16px;
  letter-spacing: 2px; */
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* 讓 GitHub 和 Email 之間有間距 */
}

.social-media-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.social-media-link i {
  margin-right: 8px;
  /* 讓 icon 和文字有間距 */
}

.social-media-link:hover {
  color: blue;
}

/* skill section*/
.skills {
  display: flex;
  justify-content: space-between;
}

.skill {
  width: 30%;
}

.skill-name {
  border-top: 1px solid #999999;
  /* padding-top: 16px; */
}

.skill-list {
  font-size: 20px;
  /* padding-top: 16px; */
}

/* Experience Section*/
hr {
  border: 0px;
  height: 1px;
  background: #cccccc;
  margin: 20px 0;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  /* 讓左右兩邊對齊 */
  align-items: center;
}

.company,
.duration {
  color: black;
  font-size: 18px;
  /* margin-right: 20px; */
  text-align: end;
}

.fa-building,
.fa-calendar {
  margin-right: 10px;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: auto !important;
}

.each-list {
  margin-bottom: 10px;
}

.resume-item {
  font-size: 1.5em;
}

#job-experience {
  margin-bottom: 20px
}

.side-project {
  margin-top: 20px;
}

.a-sideproject {
  color: black;
  /* 設定未點擊時的顏色 */
  text-decoration: none;
  /* 移除底線，可選 */
}

.a-sideproject:hover {
  text-decoration: underline;
  /* 滑鼠懸停時顯示底線，可選 */
}

.a-sideproject:visited {
  color: black !important;
  /* 讓被點過的連結顏色與未點過的一樣 */
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #007bff;
  /* 設定標籤的背景顏色 */
  color: white;
  /* 設定標籤內文字顏色 */
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 15px;
  /* 圓角效果 */
  display: inline-block;
}

.skill-link {
  color: blue;
  /* 設定未點擊時的顏色 */
  text-decoration: none;
  /* 移除底線，可選 */

  background: linear-gradient(90deg, blue, blue, blue);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  cursor: pointer;
  transition: 0.4s all;
}

.skill-link:hover {
  /* text-decoration: underline; */
  /* 滑鼠懸停時顯示底線，可選 */

  background-size: 100% 3px;
  color: blue;
}

.skill-link:visited {
  color: blue !important;
  /* 讓被點過的連結顏色與未點過的一樣 */
}

.each-education {
  margin-bottom: 10px;
}

.school {
  /* 縮排兩格 */
  font-style: italic;
  /* 讓學位名稱變成斜體（可選） */
  font-size: 20px;
  /* 讓學位名稱稍微小一點 */
}

.education-degree {
  margin-top: 10px;
  margin-left: 2em;
  /* 縮排兩格 */
  font-style: italic;
  /* 讓學位名稱變成斜體（可選） */
  font-size: 18px;
  /* 讓學位名稱稍微小一點 */
}

.pdf-icon {
  text-align: end;
}